* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --font-family: 'Bricolage Grotesque', sans-serif;
    --body-font-size: 1rem;
    --small-font-size: 0.875rem;
    --title-font-size: 2rem;
    --bg-color: #FFEBE7;
    --font-color: #18161a;
    --bg-button-color: #9667ae;
    --bg-button-color-hover: #3c2d43;
    --button-font-color: #FFFFFF;
}

.container__login {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-color: var(--bg-color);
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff9f8;
    border-radius: 5%;
}

.logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.logotipo__title {
    font-family: 'Belleza';
    font-weight: 300;
    color: #9667ae;
    font-size: 3rem;
}

.logotipo__span {
    font-family: 'Bricolage Grotesque';
    letter-spacing: 1px;
    font-size: 0.6rem;
    color: #9667ae;
}

.login__title {
    padding-bottom: 3vh;
    font-size: var(--title-font-size);
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button__form {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--bg-button-color);
    border-radius: 10px;
    color: var(--button-font-color);
    font-weight: 500;
    cursor: pointer;
}

.button__form:hover {
    background-color: var(--bg-button-color-hover);
    transition: background-color 0.3s ease;
}

.form__field {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    font-size: var(--small-font-size);
}

.form__field label {
    width: 100%;
}

.form__input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--font-color);
}

.span__create__account {
    padding-top: 15px;
    text-align: center;
    font-size: var(--small-font-size);
    color: #404040;
}

.link__create__account {
    text-align: center;
    font-size: var(--small-font-size);
    text-decoration: none;
    color: var(--bg-button-color);
}